ul {
  list-style-type:none;
}




.costo {
 text-align: right;
}


.pay {
  text-align:center; 
  font-weight: bold;
  
}


.share {
    border-bottom: 1px solid black;
    font-weight: bold;
    text-align: right;
    border-right: 1px solid black;
    border-left: 1px solid black;
    

}

.pay2 {
   font-weight: bold;
   text-align:center; 
}




.share2 {
    font-weight: bold;
    text-align: right;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    border-left: 1px solid black;
    
}